<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression functional Test system Motiw" verbose="5" data-provider-thread-count="1">
	<listeners>
		<listener class-name="ru.st.selenium.test.listeners.RetryListener"/>
		<listener class-name="ru.st.selenium.test.listeners.TestListener"/>
		<listener class-name="com.codeborne.selenide.testng.TextReport" />
	</listeners>

	<test name="Functional UI Test PDA">
		<parameter name="path" value="/"/>
		<classes>
		    <class name="ru.st.selenium.test.testPda.UsersAuthenticationTest"/>
		    <class name="ru.st.selenium.test.testPda.CreateTasksTest"/>
		    <class name="ru.st.selenium.test.testPda.DocumentsTest"/>
		    <class name="ru.st.selenium.test.testPda.SearchTest"/>
		    <class name="ru.st.selenium.test.testPda.OptionsTest"/>
		    <class name="ru.st.selenium.test.testPda.TodayTest"/>
		    <class name="ru.st.selenium.test.testPda.HelpTest"/>
		</classes>
	</test>

	<test name="Functional UI Test Web">
		<parameter name="path" value="/"/>
		<classes>
			<class name="ru.st.selenium.test.testWeb.Authorization"/>
			<class name="ru.st.selenium.test.testWeb.SystemInformation"/>
			<class name="ru.st.selenium.test.testWeb.Users"/>
			<class name="ru.st.selenium.test.testWeb.TypesOfTable"/>
			<class name="ru.st.selenium.test.testWeb.Directories"/>
			<class name="ru.st.selenium.test.testWeb.TasksType"/>
			<class name="ru.st.selenium.test.testWeb.DocumentRegistrationCards"/>
			<class name="ru.st.selenium.test.testWeb.CreateTask"/>
			<class name="ru.st.selenium.test.testWeb.EditorDictionariesCheck"/>
			<class name="ru.st.selenium.test.testWeb.CreateDocument"/>
		</classes>
	</test>
</suite>